

footer{
  font-family: fresno, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.heroCard{
 width: 50%;
 height: 40%;
 display:flex;
 background-color: rgba(0, 0, 0, 0.2);
 padding: 10px
}

.createForm{

}

input[type=text] {
  width: 288px;
  height:36px;
  background-color: white;
  color: black;
  font-family: fresno, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

button{

  margin: 10px;
  padding: 4px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: fresno, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

nav{
  display:flex;
  justify-content: space-around;
  font-size: 72px;
}

.App {
  text-align: center;
  font-family: fresno, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: 'white';
  height: auto;
  width: auto;
  background: red;
}
